body{
 background-color: #626262;
 color: #c72e2eb4;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
 font-size: larger;   
}
img{
    display: block;
    margin: auto;
}